{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<!-- [ Main Content ] start -->
<div class="row justify-content-center">
    <div class="col-md-9 text-right">
            <a href="/" class="btn btn-primary btn-outline-secondary"><i class="feather icon-refresh-ccw f-20"></i>Refresh</a>
    </div>
</div>
<div class="row justify-content-center">
    {% for server in servers %}
    <div class="col-md-4">
        <div class="card ">
            <form
                action="{{ request.path }}"
                onsubmit="openLoader()"
                method="post"
                id="writing_form"
            >
                {{server.form}}
                <div class="card-block border-left {%if server.status%}border-success {%else%} border-danger {%endif%}" style="border-width:5px!important">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="mb-3">🗺 {{server.name}}</h3>
                            <h6>
                                Status: {%if server.status %} ON {{server.icon}} {%else%}{{server.status_name}}
                                {{server.icon}}{%endif%}
                            </h6>
                            <!-- <p>Hello! Welcome to {{server.name}} server</p> -->
                            {%if server.status %}
                            <p>Join now!
                                <code style="font-size:16px;">52.221.52.40</code>
                            </p>
                            <img
                                src="{% static '/assets/images/terraria_screen.jpg' %}"
                                alt="Responsive image"
                                alt="terraria"
                                width="300px"
                            >
                            {%endif%}

                            {%if server.status_name == 'Stopping' %}
                            <p>Refresh to refresh status</p>
                            {%endif%}
                        </div>
                        <div class="col-md-6 text-right">
                            <br>
                            <br>
                            {%if server.status%}
                            <button type="submit" class="btn btn-secondary btn-large btn-square">STOP 🛑</button>
                            {%else%}
                            <button type="submit" class="btn btn-secondary btn-large btn-square {%if server.status_name == 'Stopping' %} disabled {%endif%} ">
                                START
                                ▶
                            </button>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
<!-- [ Main Content ] end -->
{% endblock content %}
